<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>

  <body>

    <% if(day === "Samedi" || day === "Dimanche") { %>
        <h1 style="color: purple">Liste de <%= day %> </h1>
   <%  } else{ %>
        <h1 style="color: blue">Liste de <%= day %> </h1>
    <% } %>
</html>
